td,
th {
    font-size: 1vw;
    border: 1px solid lightgray;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.185);
}

tr:hover {
    background-color: rgba(128, 128, 128, 0.185);
    cursor: pointer;
}

table {
    width: 90%;
    border-collapse: collapse;
}

.table_section {
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date {
    width: 100px;
}

@media screen and (max-width:1000px) {
    td,
    th {
        font-size: 1.4vw;
    }
}

@media screen and (max-width:600px) {
    td,
    th {
        font-size: 1.8vw;
    }
}